{% extends 'core/base.html' %}

{% block scripts %}
<script>
    function eliminar_factura(id){
        Swal.fire({
            "title":'¿Desea eliminar la factura seleccionada?',
            "text": 'una vez eliminado no se puede deshacer el cambio',
            "icon": 'question',
            "showCancelButton": true,
            "cancelButtonText": "Cancelar",
            "confirmButtonText": "Aceptar",
            "reverseButtons": true,
            "confirmButtonColor": "#dc3545",
            "cancelButtonColor": "#198754"
        })
        .then(function(result){
            
            if(result.isConfirmed){
                window.location.href= "/eliminarfactura/"+id+"/"
            }


        })

    }


</script>
{% endblock %}

{% block contenido %}


<div>
    <h1>Listado de Facturas</h1>

    <table> 
        <tr>
            <th>ID familia</th>
            <th>Nombre</th>
        </tr>
        {% for f in factura %}
        {% if f.boleta %}
        <tr>
            <td>{{ f.id }}</td>
            <td>{{ f.fecha }}</td>
            <td>{{ f.total }}</td>

        </tr>
        <td>
            <a href="{% url 'modificar_factura' f.id %}" class="btn btn-info">Modificar</a>
        </td>
        <td>
            <a href="#" onclick="eliminar_factura({{ f.id }})" class="btn btn-danger">Eliminar</a>
        </td>
        {% endif %}
        {% endfor %}

    </table>
</div>



{% endblock %}