{% extends 'core/base.html' %}

{% block scripts %}

<script>
    function eliminar_producto(id){
        Swal.fire({
            "title":'¿Desea eliminar el producto seleccionado?',
            "text": 'una vez eliminado no se puede deshacer el cambio',
            "icon": 'question',
            "showCancelButton": true,
            "cancelButtonText": "Cancelar",
            "confirmButtonText": "Aceptar",
            "reverseButtons": true,
            "confirmButtonColor": "#dc3545",
            "cancelButtonColor": "#198754"
        })
        .then(function(result){
            
            if(result.isConfirmed){
                window.location.href= "/eliminarproducto/"+id+"/"
            }


        })

    }


</script>

{% endblock %}



{% block contenido %}

{% load crispy_forms_tags %}
{% load humanize %}

<div class="col-12 col-md-6 offset-md-3 ">
    <div class="row p-3 mb-2">
    
        <div class="card">
                <div class="card-body"> 
                <h1>Listado de Productos</h1>
                <table class="table table-stripped table-hover table-responsive-sm clearfix">
                    <thead class="thead-dark">
                        <tr>
                            <th>Nombre</th>
                            <th>Precio</th>
                            <th>Vencimiento</th>
                            <th>Stock</th>
                            <th>Familia</th>
                            <th>Destacado</th>
                            <th>Opciones</th>
                    
                        </tr>
                        {% for p in producto %}
                        <tr>
                            <td>{{ p.1 | title }}</td>
                            <td>{{ p.3 | intcomma}}</td>
                            <td>{{ p.4 }}</td>
                            <td>{{ p.5 }}</td>
                            {% for f in familia %}
                            <td>
                                <div value="{{ f.0 }}">{{ f.1 }}</div>
                            </td>
                            {% endfor %}
                            <td>{{ p.10 }}</td>
                            <td>
                                <a href="{% url 'modificar_producto' p.0 %}" class="btn btn-info">Modificar</a>
                            </td>
                            <td>
                                <a href="#" onclick="eliminar_producto({{ p.0 }})" class="btn btn-danger">Eliminar</a>
                            </td>
                        {% endfor %}
                    </tbody>

                </table>
                <hr>
                <div>
                    {% include 'core/paginator.html' %}
                </div>
            </div>
        </div>

    </div>
</div>




{% endblock %}