{% extends 'core/base.html' %}

{% block scripts %}

<script>
    function eliminar_usuario(id){
        Swal.fire({
            "title":'¿Desea eliminar el producto seleccionado?',
            "text": 'una vez eliminado no se puede deshacer el cambio',
            "icon": 'question',
            "showCancelButton": true,
            "cancelButtonText": "Cancelar",
            "confirmButtonText": "Aceptar",
            "reverseButtons": true,
            "confirmButtonColor": "#dc3545",
            "cancelButtonColor": "#198754"
        })
        .then(function(result){
            
            if(result.isConfirmed){
                window.location.href= "/eliminarusuario/"+id+"/"
            }


        })

    }


</script>

{% endblock %}



{% block contenido %}

{% load crispy_forms_tags %}
{% load humanize %}

<div class="col-12 col-md-6 offset-md-3 ">
    <div class="row p-3 mb-2">
    
        <div class="card">
                <div class="card-body"> 
                <h1>Listado de Productos</h1>
                <table class="table table-stripped table-hover table-responsive-sm clearfix">
                    <thead class="thead-dark">
                        <tr>
                            <th>id</th>
                            <th>username</th>
                            <th>correo</th>
                            <th>nombre completo</th>
                            <th>rut</th>
                            <th>cargo</th>
                            <th>telefono</th>
                            <th>dirección</th>
                            <th>usuario administrador</th>

                    
                        </tr>
                        {% for u in usuario %}
                        <tr>
                            <td>{{ u.id }}</td>
                            <td>{{ u.username | title }}</td>
                            <td>{{ u.correo }}</td>
                            <td>{{ u.nombre_completo | title }}</td>
                            <td>{{ u.rut }}</td>
                            <td>{{ u.cargo }}</td>
                            <td>{{ u.telefono }}</td>
                            <td>{{ u.direccion }}</td>
                            {% if u.usuario_administrador %}
                            <td>Si</td>
                            {% else %}
                            <td>No</td>
                            {% endif %}
                            <td>
                                <a href="{% url 'modificar_usuario' user.id %}" class="btn btn-info">Modificar</a>
                            </td>
                            <td>
                                <a href="#" onclick="eliminar_usuario({{ user.id }})" class="btn btn-danger">Eliminar</a>
                            </td>
                        {% endfor %}
                    </tbody>

                </table>
                <hr>
                <div>
                    {% include 'core/paginator.html' %}
                </div>
            </div>
        </div>

    </div>
</div>




{% endblock %}