{% extends 'core/base.html' %}

{% block contenido %}

{% load crispy_forms_tags %}

<div class="row">
        <div class="col-12 col-md-9 offset-md-3 justify-content-center">
            <div class="card">
                <div class="card-body">
                    <h2>Contacto</h2>
                    <h4>Si eres proveedor debes generar una solicitud de registro</h4>
            
                    <form action="" method="POST">
            
                        {% csrf_token %}
                        {{ form | crispy }}
                        <br>
                        <div class="d-flex justify-content-end">
                            <input type="reset" value="Cancelar" id="btnCancelar" class="btn btn-secondary">
                            &nbsp;
                            <button type="submit" id="btnEnviar" class="btn btn-primary">Enviar</button>
                    
                        </div>
                    
                    </form>
                    {{mensaje}}
            
                </div>
            </div>
        </div>
</div>



{% endblock %}