<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="FermEntities" connectionString="metadata=res://*/FermeModel.csdl|res://*/FermeModel.ssdl|res://*/FermeModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;TNS_ADMIN=C:\Users\alanespinoza\Oracle\network\admin;USER ID=FERME;PASSWORD=1133;DATA SOURCE=localhost:1521/xe;PERSIST SECURITY INFO=True&quot;" providerName="System.Data.EntityClient" />
    <add name="FermeEntities" connectionString="metadata=res://*/ModeloFerme.csdl|res://*/ModeloFerme.ssdl|res://*/ModeloFerme.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;TNS_ADMIN=C:\Users\alanespinoza\Oracle\network\admin;USER ID=FERME;PASSWORD=1133;DATA SOURCE=localhost:1521/xe;PERSIST SECURITY INFO=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>